API_DB_MYSQL_NAME={your mysql db name}
API_DB_MYSQL_READ_HOST=localhost
API_DB_MYSQL_READ_PASS={db password}
API_DB_MYSQL_READ_USER={db username}
API_DB_MYSQL_WRITE_HOST=localhost
API_DB_MYSQL_WRITE_PASS={db password}
API_DB_MYSQL_WRITE_USER={db username}
API_DOMAIN=localhost
SESSION_SECRET={yoursecrectkey}
API_PORT=9601
